# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [7]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [9]:
result_mul = num1 * num2
print(result_mul)

result_mul *=2
print(result_mul)

10.8
21.6

##### Division

In [12]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [14]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [92]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [19]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [21]:
name = 'Brandon'
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [23]:
print('This is my first name: ', name)

print("Full Name: ", name, end=" Apol")

This is my first name:  Brandon
Full Name:  Brandon Apol

##### String Concatenation

In [25]:
first_name = "John"
last_name = "Smith"
full_name = first_name + ' ' + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [28]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [34]:
#  Input will always return a string

# name = input('What is your name?')
# print("Nice to meet you, " + name)

age = int(input("What is your age? "))
add_age = age + 5

print(add_age)

What is your age? 78
83

##### format()

In [38]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 12
You are 12 Bob and you are getting wiser!
12 is a great time in life!!!

##### Old Way (python 2)

In [40]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 12 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [42]:
color = input("What is the color of your car? ")
year = input("What is the year of your car? ")
make = input("What is the make of your car? ")
model = input("What is the model of your car? ")

your_vehicle = f"{color}, {year}, {make} {model}, is a pretty sweet vehicle!"
print(your_vehicle)

What is the color of your car? Baby blue
What is the year of your car? 1985
What is the make of your car? Oldsmobile
What is the model of your car? Cutlass Supreme
Baby blue, 1985, Oldsmobile Cutlass Supreme, is a pretty sweet vehicle!

### If Statements

In [45]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0

# if num1 == num2:
#     print('Equal Values')
# else:
#     print('Not Equal')

if num2 > num1 or num3 > 0:
    print("num2 is greater")
elif num1 > num2:
    print("num1 is greater")
else:
    print("Equal values")

num2 is greater

##### 'is' keyword

In [48]:
# The 'is' keyword is for checking for the same object, but not the same value

num3 = 55
if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [51]:
# Check if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [52]:
sega_char = 'Sonic'

if 'a' not in sega_char:
    print("'a' is NOT here...")

'a' is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [60]:
# OUTPUT: True -- if p is found
# OUTPUT: False -- if p is NOT found
user_input = input("Give me a word, any word? ")

if 'p' in user_input:
    print('p is found')
elif 'P' in user_input:
    print('p is found')
else:
    print('p is NOT found')

Give me a word, any word? rogue
p is NOT found

## Using 'and'/'or' with If Statements

In [62]:
num_11 = 15
num_12 = 3 
num_13 = 10
num_14 = 3

# If with 'and' statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and True')
    
#  If with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print('True and False')

True and True
True and False

### Elif Statements

In [4]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is Smith.')
elif first_name == 'Brandon':
    print('The name is Brandon.')
elif first_name != 'Max':
    print('The name is NOT Max.')
else:
    print('The name is Max')

What is your name? Max
The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [10]:
# Syntax:
# for counter in condition

name = "Brandon Apol"

a_list = [1, 2, 3, 4]

for i in a_list:
    print(i)

1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [14]:
name = 'Brandon Apol'

for i in name:
    if i == 'a':
        continue
    print(i)

B
r
n
d
o
n

A
p
o
l

##### Break Statement

In [ ]:
# will break out of current loop

In [15]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [16]:
for i in name:
    pass

##### Double For Loops

In [24]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j= ', j)

i =  0 j=  0
i =  0 j=  1
i =  0 j=  2
i =  0 j=  3
i =  0 j=  4
i =  1 j=  0
i =  1 j=  1
i =  1 j=  2
i =  1 j=  3
i =  1 j=  4
i =  2 j=  0
i =  2 j=  1
i =  2 j=  2
i =  2 j=  3
i =  2 j=  4
i =  3 j=  0
i =  3 j=  1
i =  3 j=  2
i =  3 j=  3
i =  3 j=  4
i =  4 j=  0
i =  4 j=  1
i =  4 j=  2
i =  4 j=  3
i =  4 j=  4

### While Loops

In [25]:
# Suntax:
# while keyword. condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [29]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? ahh
Infinite Loop
Would you like to stop? yes
Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [37]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print(" for loop iteration: ", str(i + 1))
        
    num += 1

While loop iteration: 0
 for loop iteration:  1
 for loop iteration:  2

While loop iteration: 1
 for loop iteration:  1
 for loop iteration:  2

While loop iteration: 2
 for loop iteration:  1
 for loop iteration:  2

While loop iteration: 3
 for loop iteration:  1
 for loop iteration:  2

While loop iteration: 4
 for loop iteration:  1
 for loop iteration:  2

### Built-In Functions

##### range()

In [40]:
# range(Start, stop, step)

for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [42]:
name = input("Give me the name of your favorite book: ")

length = len(name)
print(length)

Give me the name of your favorite book: The Lord of the Rings
21

##### help()

In [44]:
# Use this function to view more info about a python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [47]:
#  Check a variable to find out what object family(or data type) it belongs to
# isinstance(var, type)

num = 4.5

if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

4.5 is a float

##### abs()

In [48]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [2]:
#  Use this to log out graceful and useful error messages
# Does not stop the program! Neato!

try:
    number_test = 0
    input_num = int(input('Guess a number '))
    if input_num == number_test or input_num > number_test:
        input_num = input_num + number_test
        print('Your number is: ' + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number 6.7
That didn't work! Change your input to a number!

### Lists

##### Declaring Lists

In [60]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [67]:
# list_name[start: stop: step]

# Single Index
print(names[1])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of a list up until a number
print(names[:2])

# Print staring at index 1 and going up BY 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

Cindy
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [74]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Bob', 'Nate', 'Brandon', 'Brandon', 'Brandon', 'Brandon']

##### .insert()

In [76]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Bob', 'Devon', 'Nate', 'Brandon', 'Brandon', 'Brandon', 'Brandon']

##### .pop()

In [71]:
# Defaults to the last value if no parameter is given
# Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Devon
['Max', 'Cindy', 'Bob', 'Nate', 'Brandon']


##### .remove()

In [78]:
# Value to be removed rather than index
# names.remove('Bob')
# print(names)

# Remove multiple Brandons from list
while 'Brandon' in names:
    names.remove('Brandon')
print(names)

['Max', 'Cindy', 'Devon', 'Nate']

##### del()

In [79]:
# Goes by index
# Be careful with del(), it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Devon', 'Nate']

##### Concatenating Two Lists

In [82]:
# Will append two lists together, will Not add the values!!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [81]:
# Lists can hold ANY type of other elements! Including other lists!
# They can go as deep as you want; this is called nested lists

names = ["Max", "Sam", "Josh", ["Sally", ["Sue", "Jim"], "Tameka"]]
print(names)
print(names[3][1][1])

['Max', 'Sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
Jim

##### Looping Through Lists

In [84]:
# Two ways to loop through a list! One is by index; the other is by using the 'in' keyword

# By index
for i in range(len(names)):
    print(names[i])

# Loop with 'in'
for name in names:
    print(name)

Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [86]:
num_test = 1000

for num in range(1,20):
    cubed_num = num ** 3
    if cubed_num > num_test:
        break
    else:
        print(cubed_num)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [108]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
not_prime = []
for num in range(2,101):
    
    prime_flag = False

    if num > 1:
        for i in range(2, num):
            if(num % i) == 0:
                prime_flag = True
                break
    if prime_flag:
        not_prime.append(num)
    else:
        print(num, "is a prime number")

# print('Not Prime numbers: ', not_prime)

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [111]:
users_age = int(input('What is your age? '))

if users_age < 18:
    print('You are a kid')
elif users_age < 65:
    print('You are an adult')
else:
    print('You are a Senior')

What is your age? 65
You are a Senior